body{
     margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    background-color: black
}


/* header /navigation bar */
#head h2{
    color: white;
    padding-left: 20px;
    flex-grow: 1;
}

#head{
    display: flex;
    flex-wrap: wrap;
    align-items: center;  
}
#head a{
    flex-basis: 50px;
    color: white;
}
#head a:hover{
    transform:scale(1.1) ;
}

/*  main item display/ add */
#main{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
#content{
    padding-top: 50px;
    color: white;
   font-family: 'Segoe UI';  
}
#content h1{
    line-height: 20px;
    font-size: 50px;
}
#content p{
    font-size: 22px;
}
.price{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 5px;
    
}
.price span{
    color:rgba(128, 128, 128, 0.871);
    padding-left: 10px;
    text-decoration:line-through;
}

#main button{
    padding: 8px;
    width: 80px;
    border: 1px solid black;
    background-color: red;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
}
/* featured products */
#feature{
    padding-top: 65px;
    color: white;
}

#featured-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}
#h2{
    color: white;
    text-align: center;
 }

 .corner{
      margin-top: 30px;
 }

 .corner *{
    font-size: 14px;
    padding-left: 20px;
 } 
 #middle *{
    font-size: 18px;
    padding-left: 30px;
 }

 .inner{
    margin-top: 20px;
    
 }

.inner *{
    font-size: 16px;
    padding-left: 25px;
}

#featured-items span{
    padding-left: 8px;
}

#middle:hover{
    transform: scale(1.1);
}
.inner:hover{
    transform: scale(1.09);
}

.corner:hover{
    transform: scale(1.08);
}

/* top products */
#top{
    margin-top: 80px;
}

#top #model{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px 160px 5px 160px;
    list-style: none;
}

#top a{
    
    text-decoration: none;
    color: whitesmoke;
}

#model p:first-child{
    padding: 5px;
    border-radius: 2px;
    background-color: red;
}

#top-items{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
    justify-content:space-evenly;
   
}
.items{
    padding: 10px;
    border-radius: 2px;
    width: 230px;
    margin-bottom: 5px;
    border: 1px solid rgba(192, 192, 192, 0.437);
}

.items button{
    padding: 8px;
    width: 100%;
    border: 1px solid black;
    background-color: red;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
}

.items h3{
    line-height: 2px;
}

.items img{
    padding-left: 25px;
    border: none;
}
.items hr{
    line-height: 1px;
}
h3+p{
    line-height: 18px;
    color: silver;
}
#top-items h3{
    color: white;
}
#browse{
    
    color: white;
    text-align: center;
    align-content: center;
}
/* ★ */
.star{
    line-height: 1px;
    color: red;
    text-decoration: none;
}


/* our advantages */
#our-adv h2{
    color: white;
    text-align: center;
    

}
#adv{
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin: 0px 20px 0px 10px;
    justify-content: space-between;
   
}


#adv p{
    line-height: 1px;
    color: silver;
    font-size: 14px;
    font-family: sans-serif;
}

.benfits{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

i{
    padding-right: 10px;
    
}

.benfits h3{
    line-height: 1px;
    font-size: 18px;
    font-family: sans-serif;
}

/* contact/subscribe/policies */
#contact{
    display: flex;
    flex-wrap:wrap ;
    border: 1px solid black;
    margin: 80px 90px 30px 15px;
    justify-content: space-between;
   
    
}
#contact h3{
    color: white ;
    line-height: 1px;
}

#contact button{
    margin-top: 8px;
    padding: 8px;
    width: 80px;
    border: 1px solid black;
    background-color: red;
    color: white;
    border-radius: 3px;
    text-align: center;
    font-size: 10px;
}

#contact input{
    background-color: black;
    color: rgba(192, 192, 192, 0.329);
    padding: 5px;
    border: 1px solid rgba(192, 192, 192, 0.329);
}

#contact p{
    color: silver
}


/* footer */
footer{
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 10px;
    border-top: 1px solid rgba(192, 192, 192, 0.329);
}

footer p{
    flex-grow: 1;
}
footer span{
    color: red;
}


 



 
