body{
     margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    background-color: black
}


/* header /navigation bar */
#head h2{
    color: white;
    padding-left: 20px;
    flex-grow: 1;
}

#head{
    display: flex;
    flex-wrap: wrap;
    align-items: center;  
}
#head a{
    flex-basis: 50px;
    color: white;
}
#head a:hover{
    transform:scale(1.1) ;
}

/*  main item display/ add */
#main{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
#content{
    padding-top: 50px;
    color: white;
   font-family: 'Segoe UI';  
}
#content h1{
    line-height: 20px;
    font-size: 50px;
}
#content p{
    font-size: 22px;
}
.price{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 5px;
}
span{
    color:rgba(128, 128, 128, 0.871);
    padding-left: 10px;
    text-decoration:line-through;
}

#main button{
    padding: 8px;
    width: 80px;
    border: 1px solid black;
    background-color: red;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
}
/* featured products */
#feature{
    padding-top: 65px;
    color: white;
}

#featured-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
#h2{
    color: white;
    text-align: center;
 }

/* top products */
#top{
    margin-top: 80px;
}

#top #model{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px 160px 5px 160px;
    list-style: none;
}

#top a{
    
    text-decoration: none;
    color: whitesmoke;
}

#model p:first-child{
    padding: 5px;
    border-radius: 2px;
    background-color: red;
}

#top-items{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
    justify-content:space-around;
      
      
}
.items{
    
    border: 1px solid whitesmoke;
    padding: 10px;
    border-radius: 1px;
    width: 200px;
    margin-bottom: 10px;
}

.items button{
    padding: 8px;
    width: 100%;
    border: 1px solid black;
    background-color: red;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
}

#top-items h3{
    color: white;
}
#browse{
    
    color: white;
    text-align: center;
    align-content: center;
}
/* ★ */
.star{
    color: red;
    text-decoration: none;
}


/* our advantages */
#our-adv h2{
    color: white;
    text-align: center;
    

}
#adv{
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-around;
   
}


#adv p{
    line-height: 1px;
    color: silver;
    font-size: 14px;
    font-family: sans-serif;
}

.benfits{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

i{
    padding-right: 10px;
    
}

.benfits h3{
    line-height: 1px;
    font-size: 18px;
    font-family: sans-serif;
}





 



 
